<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 offset-sm-3">
      <div class="form-container">
        <div class="form-logo-container text-center">
          <%= image_tag("logo.png", class: "form-logo")  %>
          <p>A chat app made with react, redux, and rails</p>
          <%= button_to "Login as guest", guest_signup_path, class: "guest-login-button" %>
        </div>
        <div class="form">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :nickname,
                          placeholder: "bighead",
                          required: false,
                          autofocus: true %>
              <%= f.input :email,
                          autofocus: true,
                          placeholder: "bighead@hooli.com",
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          placeholder: "******",
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Sign up", class: "form-button" %>
            </div>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
