<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 offset-sm-3">
      <div class="form-container">
        <div class="form-logo-container text-center">
          <%= image_tag("logo.png", class: "form-logo")  %>
          <p>Kind of like slack or discord</p>
        </div>
        <div class="form">
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email,
                          placeholder: "bighead@hooli.com",
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Reset Password", class: "form-button" %>
            </div>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
