<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 offset-sm-3">
      <div class="form-container">
        <div class="form-logo-container text-center">
          <%= image_tag("logo.png", class: "form-logo")  %>
          <p>"Kind of like slack or discord"</p>
        </div>
        <div class="form">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, 
                          label: 'Email',
                          required: false,
                          autofocus: true,
                          placeholder: "hello@gmail.com",
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          required: false,
                          placeholder: "*******",
                          input_html: { autocomplete: "current-password" } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Sign in", class: "form-button" %>
            </div>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>